$colors: (
  "bg-primary": #f0f0f0,
  "bg-secondary": #d9d9d9,
  "bg-tertiary": #bebebe,
  "btn-primary": #bb3d40,
  "btn-secondary": #ff3a3f,
  "txt-dark": #000,
  "txt-light": #fff,
  "txt-placeholder": #9c9c9c,
);

$breakpoints: (
  "sm": 320px,
  "md": 768px,
  "lg": 1024px,
  "xlg": 1680px,
);

$text_sizes: (
  "heading": 3.2rem,
  "subheading": 2.4rem,
  "title": 2rem,
  "lg-txt": 1.8rem,
  "normal-txt": 1.6rem,
);
